* {
  box-sizing: border-box;
}

.home-main {
  margin-left: 140px;
  margin-top: 120px;
  padding: 40px;
  min-height: calc(100vh - 260px);
  background: white;
}

.home-main h2 {
  font-size: 32px;
  color: #1a237e;
  margin-bottom: 20px;
  text-align: center;
}

.home-main p {
  font-size: 16px;
  color: #666;
  text-align: center;
  line-height: 1.6;
}
