/* Main sidebar container */
.sidebar-main {
  width: 120px;
  height: 100%;
  background-color:  #f8f9fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
  position: fixed;
  left: 0;
  top: 100px;
}

/* Upper section for icons */
.sidebar-upper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.sidebar-divider {
  width: 80%;
  border: none;
  border-top: 1px solid #060606;
  margin: 10px 0;
}

.sidebar-upper div {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Icon styling */
.sidebar-upper img {
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

/* Hover effect */
.sidebar-upper img:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

/* History section */
.sidebar-main h3 .box {
    border: 1px solid #090909;
  color: #111010;
  font-size: 14px;
  font-weight: 500;
  margin-top: auto;
  margin-bottom: 20px;
  /* writing-mode: vertical-rl; */
  /* transform: rotate(180deg); */
  opacity: 0.7;
}

.sidebar-upper span {
  display: inline;
  margin-left: 5px;
  font-size: 10px;
  vertical-align: middle;
  color: #111010;
}

