.nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100px;
  padding: 0 20px;

  background-color: #f8f9fa;
  border-bottom: 1px solid #e9ecef;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 1000;
}


.nav-left .menu-icon {
   width: 32px;
  height: 32px;
   transition: transform 0.2s ease, opacity 0.2s ease;
   display: inline-block;
}
.nav-left .menu-icon:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
.nav-left .home-icon {
  width: 32px;
  height: 32px;
  margin-left: 20px;
   transition: transform 0.2s ease, opacity 0.2s ease;

}
.nav-left .home-icon:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.nav-center input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-right  .more-icon{
 width: 32px;
  height: 32px;
   transition: transform 0.2s ease, opacity 0.2s ease;

}
.nav-right .more-icon:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
.nav-right .profile-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #6c757d;
   transition: transform 0.2s ease, opacity 0.2s ease;

}
.nav-right .profile-icon:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.nav-left span,
.nav-right span {
  display: inline;
  margin-left: 5px;
  font-size: 12px;
  vertical-align: middle;
}



