* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(250, 239, 248)
}

#root {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(250, 239, 248);
}

html, body {
  width: 100%;
  height: 100%;
}
